<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript" src="/stylesheets/jquery.min.js" />
    <script type="text/javascript" src="/stylesheets/bootstrap.min.js" />
    </script>
  </body>
</html>
