<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="https://use.fontawesome.com/d43bff2ee6.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}
    <div class="container">
          {{{body}}}
    </div>


    <script type="text/javascript" src="/stylesheets/jquery.min.js" />
    <script type="text/javascript" src="/stylesheets/bootstrap.min.js" />
    </script>
  </body>
</html>
